.col{
  display: flex;
  justify-content: space-between;
}



.card-row {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
   
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%; /* Adjust the width of each card */
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .card-content {
    padding-top: 10px;
  }
  
  .card-content h3 {
    font-size: 1.2em;
    margin: 0;
  }
  
  .card-content p {
    margin: 0;
  }
  
  