<ion-content>
<h3>Our Shirts collection</h3>
<!--1st -->
<div class="col">
  <div class="shoeRow">
  <img src="https://lp2.hm.com/hmgoepprod?set=source[/ad/7f/ad7f3c94a96c44587cad03de6a025bef118e2b60.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]" alt="">
  <div class="shoesFun">
    <span>H&M</span>
    <h5>Regular Fit</h5>
    <div class="star">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
    </div>
    <h4>₹1,4999</h4>
  </div>
    <a href=""><ion-icon name="cart-outline"></ion-icon></a>
</div>

<div class="shoeRow">
  <img src="https://lp2.hm.com/hmgoepprod?set=source[/3b/3a/3b3a6e91fff698706496d002ec858542415686a4.jpg],origin[dam],category[men_hoodiessweatshirts_hoodies],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]" alt="">
  <div class="shoesFun">
    <span>H&M</span>
    <h5>Regular Fit</h5>
    <div class="star">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
    </div>
    <h4>₹1,4999</h4>
  </div>
    <a href=""><ion-icon name="cart-outline"></ion-icon></a>
</div>

<div class="shoeRow">
  <img src="https://lp2.hm.com/hmgoepprod?set=source[/aa/9a/aa9a09e2a7f5a1c93ad448a3a185ccd54f168a9d.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]" alt="">
  <div class="shoesFun">
    <span>H&M</span>
    <h5>Regular Fit</h5>
    <div class="star">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
    </div>
    <h4>₹1,4999</h4>
  </div>
    <a href=""><ion-icon name="cart-outline"></ion-icon></a>
</div>
</div>



<!--2nd list-->
<div class="col">
  <div class="shoeRow">
  <img src="https://lp2.hm.com/hmgoepprod?set=source[/52/bc/52bcadebd6bebe1d2c2228655f3f061be195d457.jpg],origin[dam],category[men_hoodiessweatshirts_sweatshirts],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]" alt="">
  <div class="shoesFun">
    <span>H&M</span>
    <h5>Regular Fit</h5>
    <div class="star">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
    </div>
    <h4>₹1,4999</h4>
  </div>
    <a href=""><ion-icon name="cart-outline"></ion-icon></a>
</div>

<div class="shoeRow">
  <img src="https://lp2.hm.com/hmgoepprod?set=source[/d2/e4/d2e47867581fd943d1b3391449a5868210ba1d7a.jpg],origin[dam],category[MEN_TSHIRTSTANKS_POLO],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]" alt="">
  <div class="shoesFun">
    <span>H&M</span>
    <h5>Regular Fit</h5>
    <div class="star">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
    </div>
    <h4>₹1,4999</h4>
  </div>
    <a href=""><ion-icon name="cart-outline"></ion-icon></a>
</div>

<div class="shoeRow">
  <img src="https://lp2.hm.com/hmgoepprod?set=source[/05/55/055549959c54c7d62cb796cf5b116273583e6c8d.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]" alt="">
  <div class="shoesFun">
    <span>H&M</span>
    <h5>Regular Fit</h5>
    <div class="star">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
    </div>
    <h4>₹1,4999</h4>
  </div>
    <a href=""><ion-icon name="cart-outline"></ion-icon></a>
</div>
</div>


<!--3rd list-->

<div class="col">
  <div class="shoeRow">
  <img src="https://lp2.hm.com/hmgoepprod?set=source[/d1/a5/d1a587468441f58ac348172e90d2277a11a6c6cc.jpg],origin[dam],category[men_hoodiessweatshirts_hoodies],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]" alt="">
  <div class="shoesFun">
    <span>H&M</span>
    <h5>Regular Fit</h5>
    <div class="star">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
    </div>
    <h4>₹1,4999</h4>
  </div>
    <a href=""><ion-icon name="cart-outline"></ion-icon></a>
</div>

<div class="shoeRow">
  <img src="https://lp2.hm.com/hmgoepprod?set=source[/e4/5c/e45cf502c83b0a79af07da2c1298076bf2fbeb86.jpg],origin[dam],category[men_hoodiessweatshirts_sweatshirts],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]" alt="">
  <div class="shoesFun">
    <span>H&M</span>
    <h5>Regular Fit</h5>
    <div class="star">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
    </div>
    <h4>₹1,4999</h4>
  </div>
    <a href=""><ion-icon name="cart-outline"></ion-icon></a>
</div>

<div class="shoeRow">
  <img src="https://lp2.hm.com/hmgoepprod?set=source[/ad/7f/ad7f3c94a96c44587cad03de6a025bef118e2b60.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]" alt="">
  <div class="shoesFun">
    <span>H&M</span>
    <h5>Regular Fit</h5>
    <div class="star">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-half-outline"></ion-icon>
    </div>
    <h4>₹1,4999</h4>
  </div>
    <a href=""><ion-icon name="cart-outline"></ion-icon></a>
</div>
</div>
</ion-content>



